name: Build

on:
  push:
    paths-ignore:
      - '**.md'
      - 'docs/**'
      - 'LICENSE'
      - '.gitignore'
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: 'stable'
        check-latest: true

    - name: Install Linux dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libgtk-3-dev libappindicator3-dev

    - name: Download dependencies
      run: go mod download

    - name: Build Linux
      run: |
        mkdir -p build
        GOOS=linux GOARCH=amd64 go build -o build/wol-linux

    - name: Build Windows
      run: |
        mkdir -p build
        GOOS=windows GOARCH=amd64 go build -ldflags "-H=windowsgui" -o build/wol-windows.exe

    - name: Upload Windows Artifact
      uses: actions/upload-artifact@v4
      with:
        name: wol-windows
        path: build/wol-windows.exe

    - name: Upload Linux Artifact
      uses: actions/upload-artifact@v4
      with:
        name: wol-linux
        path: build/wol-linux
